USE [master]
GO
/****** Object:  Database [nrifath2009_productDB]    Script Date: 2/19/2018 4:30:02 PM ******/
CREATE DATABASE [nrifath2009_productDB] ON  PRIMARY 
( NAME = N'nrifath2009_productDB', FILENAME = N'D:\SQLExpress2008R2\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\nrifath2009_productDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'nrifath2009_productDB_log', FILENAME = N'D:\SQLExpress2008R2\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\nrifath2009_productDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nrifath2009_productDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nrifath2009_productDB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2/19/2018 4:30:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](150) NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Quantity] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](150) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [nvarchar](150) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [ProductName], [UnitPrice], [Quantity], [CreatedOn], [CreatedBy], [UpdatedOn], [UpdatedBy]) VALUES (2, N'Apex Sleeper', CAST(700.00 AS Decimal(18, 2)), 50, CAST(N'2018-02-19T15:11:08.930' AS DateTime), N'nrifath', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Product] OFF
USE [master]
GO
